{:deps       {:aliases [:dev]}
 :nrepl      {:port 8777}
 :js-options {:node-modules-dir "../node_modules"}

 :builds
 {:app
  {:target     :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :modules    {:app {:init-fn  example.core/init
                      :preloads [devtools.preload
                                 day8.re-frame-10x.preload]}}
   :dev        {:compiler-options
                {:closure-defines {re-frame.trace.trace-enabled?       true
                                   day8.re-frame.tracing.trace-enabled? true}}}
   :release    {:build-options
                {:ns-aliases {day8.re-frame.tracing         day8.re-frame.tracing-stubs
                              day8.re-frame.tracing.runtime day8.re-frame.tracing-stubs.runtime}}}
   :devtools   {:http-root "resources/public"
                :http-port 8280}}

  :karma-test
  {:target    :karma
   :ns-regexp "-test$"
   :output-to "target/karma-test.js"}}}
